# Environments
venv/
env/
.env
.vscode/
.idea/

# Python internals
__pycache__/
*.pyc
*.pyo
*.pyd

backend/venv/
backend/__pycache__/
backend/**/*.py[cod]
backend/.cache/
backend/*.zip

# Project Specifics
models/*
!models/.gitkeep

outputs/*
!outputs/.gitkeep

# Operating System files
.DS_Store
Thumbs.db

*.zip

*.jar