@import "tailwindcss";

:root {
  --text: #08060d;
  --bg: #f3f0ec;
  --sans: system-ui, 'Segoe UI', Roboto, sans-serif;
}

body {
  margin: 0;
  color: var(--text);
  background: var(--bg);
  font-family: var(--sans);
}

